{% extends "layout.html" %}

{% block header %}
<h1>Join us today!</h1>
{% endblock header %}


{% block content %}
<p class="lead">This will be a register page </p>

<div class="form-group">
  <form method="POST" action="">
    <!-- Add CSRF Token-->
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }}
      {{ form.username(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label") }}
      {{ form.password(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
    Do you have an account? <a href="{{ url_for('login')}}">click here to log in</a>
  </small>
</div>

{% endblock content %}